.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@font-face {
    font-family: "Kenyan Coffee";
    src: url("./components/Navbar/font/kenyan\ coffee\ bd.otf") format("truetype");
}

.search-form {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.search-input {
    flex-grow: 1;
    width: 700px;
    height: 30px;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.search-button {
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
    .search-input {
        font-size: 16px;
    }
}

@media screen and (max-width: 576px) {
    .search-form {
        flex-direction: column;
        align-items: stretch;
    }

    .search-input {
        height: 30px;
        font-size: 14px;
        margin-bottom: 10px;
    }

    .search-button {
        margin-left: 0;
    }
}

.icon {
    color: gray;
    opacity: 0.5;
}

.icon:hover {
    color: rgb(158, 136, 136);
    opacity: 1;
}

.movie-details-container {
    background-color: gray;
}